@media only screen and (max-width: 600px) {
  /* Your smartphone-specific CSS code here */
  body {
    font-size: 14px;
  }

  /* Example: */
  .container {
    width: 100%;
    padding: 10px;
  }
    
}
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    text-align: center;
}

nav {
    width: 80%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    border-radius: 5px;
    padding: 0 5%;
    margin: 0 auto; 
}

.KLIK h3 {
    font-family: 'Bebas Neue', cursive;
    font-size: 24px; 
    letter-spacing: 1px; 
    color: aqua; 
}


.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #F8E7ED;
}

.menu li {
  float: left;
  border-right:3px solid #FACCCE;
}

li a {
  display: block;
  color: #E3549B;
  text-align: center;
  padding: 30px 80px;
  text-decoration: light;
  font-size:30px;
  text-shadow: 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 25px #e60073, 0 0 30px #e60073, 0 0 350px #e60073;
}

li a:hover {
  background-color: #FACCCE;
}

.parallax-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.parallax-container.page1 {
    background-image: url('bmiii.png');
}

.parallax-container.page2 {
    background-image: url('pls.png');
}

.parallax-container.page3 {
    background-image: url('lucu.png');
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    color: black;
    width: 90%;
}

h1, p {
    margin: 0;
}

h1 {
    font-size: 25px; /* Mengembalikan ukuran font ke 36px */
}

p {
    font-size: 20px; /* Mengembalikan ukuran font ke 18px */
}

