body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    text-align: center;
}

nav {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    border-radius: 5px;
    padding: 10px 5%;
    margin: 0 auto;
}

.KLIK h3 {
    font-size: 24px; /* Mengembalikan ukuran font ke 24px */
    letter-spacing: 1px;
    color: aqua;
}

.menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    column-gap: 2em;
    margin: 0;
    padding: 0;
}

.menu ul li a {
    text-decoration: none;
    color: aqua;
    font-size: 16px; /* Mengembalikan ukuran font ke 16px */
}

.menu ul li a:hover {
    color: #000;
}

.parallax-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.parallax-container.page1 {
    background-image: url('bmiii.png');
}

.parallax-container.page2 {
    background-image: url('pls.png');
}

.parallax-container.page3 {
    background-image: url('UwU.png');
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    color: black;
    width: 90%;
}

h1, p {
    margin: 0;
}

h1 {
    font-size: 36px; /* Mengembalikan ukuran font ke 36px */
}

p {
    font-size: 18px; /* Mengembalikan ukuran font ke 18px */
}

@media (max-width: 600px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        padding: 20px; /* Menambah padding */
    }

    .menu ul {
        flex-direction: column;
        row-gap: 10px;
        padding: 0;
        margin: 0;
    }

    .content {
        transform: translate(-50%, -50%);
        width: 95%;
    }

    .KLIK {
        display: block;
    }

    .menu {
        display: none;
    }

    .KLIK:hover + .menu, .menu:hover {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }
}
